In [ ]:
#pandas is a library and it contains the functions related to the database
import pandas as pd

In [ ]:
dataset=pd.read_csv("Salary_Data.csv")#dataset is a variable where we are using pandas function to read the CSV file and load it

In [ ]:
dataset #Printing the data present behind dataset variable

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
independent=dataset[["YearsExperience"]] #Loading input data. Assigning specific column to variable.
independent

In [ ]:
dependent=dataset[["Salary"]] #Loading output data.Assigning specific column to variable.
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [ ]:
from sklearn.model_selection import train_test_split # loading train_test_split function from sklearn.model_selection
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)
#calling train_test_split parameterized function with inputs as input variable, output variable & load test set with 30%

In [ ]:
from sklearn.linear_model import LinearRegression # import LinearRegression machine learning function from sklearn.linear_model library
regressor=LinearRegression() # loading LinearRegression function to variable regressor
regressor.fit(X_train,y_train) # substituting input and output variable for the machine learning function

LinearRegression()

In [ ]:
weight=regressor.coef_ # y=wx+b, this line will calculate the weight of data using regressor.coef_ function
weight # display variable value

array([[9360.26128619]])

In [ ]:
bais=regressor.intercept_ # y=wx+b, this line will calculate the bais of data using regressor.intercept_ function
bais# display variable value

array([26777.3913412])

In [ ]:
y_pred=regressor.predict(X_test) # Training is completed now we are passing test value

In [ ]:
from sklearn.metrics import r2_score # Evaluation matrix: sum of r square is being imported here as function
r_score=r2_score(y_test,y_pred) # passing the test value and model predicted value

In [ ]:
r_score # output the r2_score value

0.9740993407213511

In [ ]:
import pickle # This function is specifically meant for saving the trained model
filename="finalized_model_linear.sav" # assigning the filename

In [ ]:
pickle.dump(regressor,open(filename,'wb')) # writing the trained model in binary to the filename with extension

In [ ]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb')) # reading the saved model in binary and loading it to variable
result=loaded_model.predict([[13]]) # passing input as 13 and see the result ( passing 13 yrs as input and getting the salaruy prediction for 13 yrs)

C:\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
result # printing value for 13 yrs candidate

array([[148460.78806172]])